создать серию из 6 случайных чисел с индексами a,b,c,d...

сделать 2 дф и объединить их
{'продукт': ['картошка','морковь','яблоко'], 'категория': ['овощ','овощ','фрукт']}

{'продукт': ['картошка','морковь','яблоко'], 'цена': [50,60,120]}

In [ ]:
import pandas as pd
import numpy as np
import random as rd

c = []
for i in range (6):
  a = rd.random()
  c.append(a)

ser = pd.Series(c,index = ['a','b','c','d','e','f'])
print(ser)
print()

data1 = {'продукт': ['картошка','морковь','яблоко'], 'категория': ['овощи','овощи','фрукты']}
data2 = {'продукт': ['картошка','морковь','яблоко'], 'цена': [50,60,120]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df3 = pd.merge(df1,df2,on='продукт')

print(df3)

a    0.594132
b    0.675658
c    0.425867
d    0.622990
e    0.522384
f    0.568184
dtype: float64

    продукт категория  цена
0  картошка     овощи    50
1   морковь     овощи    60
2    яблоко    фрукты   120