# 1 Задание


C помощью PANDAS создайте датафрейм из 1 млн. строк, содержащий 4 столбца – пол, возраст, доход, профессия. В категориальной переменной профессия сделайте 3-4 категории, в переменной пол – 2, возраст и доход сделайте количественными, с типом INT.

In [ ]:
import pandas as pd
import numpy as np
import itertools
from itertools import cycle

n = 1_000_000

sex = np.random.choice(['Муж', 'Жен'], size = n)
ages = np.random.normal(loc=35, scale=10, size = n).astype(int)
income = np.random.normal(loc=20000, scale=1500, size = n).astype(int)

professions = ['дворник', 'уборщик', 'няня', 'кассир']
profession = np.random.choice(professions, size=n)

df = pd.DataFrame({
    'пол': sex,
    'возраст': ages,
    'доход': income,
    'профессия': profession
})

df.head()

   пол  возраст  доход профессия
0  Муж       30  19245    кассир
1  Жен       27  22498    кассир
2  Жен       44  20463      няня
3  Жен       44  18558   уборщик
4  Жен       50  19994      няня

# 2 задание
Замерьте объем памяти датафрейма в памяти с помощью методов **DF.INFO()**,
**DF.MEMORY_USAGE()**

In [ ]:
df.info()
df.memory_usage()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   пол        1000000 non-null  object
 1   возраст    1000000 non-null  int64
 2   доход      1000000 non-null  int64
 3   профессия  1000000 non-null  object
dtypes: int64(2), object(2)
memory usage: 30.5+ MB

Index            128
пол          8000000
возраст      8000000
доход        8000000
профессия    8000000
dtype: int64

# 3 задание
Сохраните датафрейм в формате CSV, загрузите его в новый датафрейм и замерьте
скорость записи и чтения, с помощью «магической» команды %%TIMEIT.

In [ ]:
%%timeit
df.to_csv('data.csv', index=False)

1.91 s ± 506 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
new_df = pd.read_csv('data.csv')

580 ms ± 9.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
new_df = pd.read_csv('data.csv')

# 4 задание
В качестве агрегации надо рассчитать средний возраст, максимальный доход, самый
частый пол, самый редкий тип профессии. Замерьте время выполнения этих операций с
помощью «магической» команды %%TIMEIT.

In [ ]:
%%timeit
average_age = df['возраст'].mean()

3.1 ms ± 348 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
%%timeit
max_income = df['доход'].max()

386 µs ± 14.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit
most_frequent_gender = df['пол'].mode()[0]

120 ms ± 22.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
least_common_profession = df['профессия'].value_counts().idxmin()

79 ms ± 642 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
average_age = df['возраст'].mean()
max_income = df['доход'].max()
most_frequent_gender = df['пол'].mode()[0]
least_common_profession = df['профессия'].value_counts().idxmin()

print(average_age)
print(max_income)
print(most_frequent_gender)
print(least_common_profession)

34.49794
26958
Муж
няня

# 5 задание
Увеличьте число строк в датафрейме до 10 млн. строк, и выполните пункты 1-4, с
помощью библиотеки ITERTOOLS. Замерьте время выполнения этих операций с
помощью «магической» команды %%TIMEIT.

In [ ]:
n = 10_000_000

sex = np.random.choice(['Муж', 'Жен'], size = n)
ages = np.random.normal(loc=35, scale=10, size = n).astype(int)
income = np.random.normal(loc=20000, scale=1500, size = n).astype(int)

professions = ['дворник', 'уборщик', 'няня', 'кассир']
profession = np.random.choice(professions, size=n)

df = pd.DataFrame({
    'пол': sex,
    'возраст': ages,
    'доход': income,
    'профессия': profession
})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   пол        object
 1   возраст    int64
 2   доход      int64
 3   профессия  object
dtypes: int64(2), object(2)
memory usage: 305.2+ MB

In [ ]:
%%timeit
df.to_csv('data1.csv', index=False)

17.9 s ± 796 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
dd = pd.read_csv('data1.csv')

6.87 s ± 1.02 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
average_age = df['возраст'].mean()

25.6 ms ± 419 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
max_income = df['доход'].max()

7.86 ms ± 124 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
%%timeit
most_frequent_gender = df['пол'].mode()[0]

892 ms ± 203 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
least_common_profession = df['профессия'].value_counts().idxmin()

939 ms ± 283 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
average_age = df['возраст'].mean()
max_income = df['доход'].max()
most_frequent_gender = df['пол'].mode()[0]
mode_count = df['пол'][df['пол'] == most_frequent_gender].count()
least_common_profession = df['профессия'].value_counts().idxmin()

print(average_age)
print(max_income)
print(most_frequent_gender, f'{mode_count} раз')
print(least_common_profession)

34.4992118
27794
Муж 5000981 раз
няня

**ITERTOOLS**

In [ ]:
%%timeit
for age in itertools.accumulate(df['возраст']):
  last = age

age_mean = last / n

1.2 s ± 19.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
for salary in itertools.accumulate(df['доход'], max):
  max_salary = salary

2.74 s ± 562 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
from collections import Counter

In [ ]:
%%timeit
counter = Counter(df['пол'])
mode_sex, count = counter.most_common(1)[0]

1.84 s ± 524 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
counter = Counter(df['профессия'])
rare_proffesion, count = min(counter.items(), key=lambda x: x[1])

2.09 s ± 588 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
for age in itertools.accumulate(df['возраст']):
  last = age
age_mean = last / n
print(age_mean)

for salary in itertools.accumulate(df['доход'], max):
  max_salary = salary
print(max_salary)

counter = Counter(df['пол'])
mode_sex, count = counter.most_common(1)[0]
print(mode_sex, f'{count} раз')

counter = Counter(df['профессия'])
rare_proffesion, count = min(counter.items(), key=lambda x: x[1])
print(rare_proffesion)

34.4948971
27705
Жен 5000663 раз
дворник

# 6 задание
Увеличьте число строк в датафрейме до 10 млн. строк, и выполните пункты 1-4, с
помощью библиотеки **THREADING**. Замерьте время выполнения этих операций с
помощью «магической» команды **%%TIMEIT**.

In [ ]:
import threading as thr

In [ ]:
def average_age(df):
    df["возраст"].mean()
def max_income(df):
    df["доход"].max()
def most_frequent_gender(df):
    df["пол"].value_counts().idxmax()
def least_common_profession(df):
    df["профессия"].value_counts().idxmin()
def write(df):
    df.to_csv('data_out.csv')
def read_data():
    df = pd.read_csv('data_out.csv')

def threads_methods(func, df):
  t1 = thr.Thread(func(df))
  t1.start()
  t1.join()

In [ ]:
%%timeit
threads_methods(write, df)

24.5 s ± 2.73 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
t1 = thr.Thread(target = read_data)
t1.start()
t1.join()

8.66 s ± 965 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
threads_methods(average_age, df)

25.5 ms ± 2.86 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
threads_methods(max_income, df)

8.4 ms ± 52.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
%%timeit
threads_methods(most_frequent_gender, df)

781 ms ± 8.64 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
threads_methods(least_common_profession, df)

801 ms ± 110 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# 7 задание
Увеличьте число строк в датафрейме до 10 млн. строк, и выполните пункты 1-4, с
помощью библиотеки CSV. Замерьте время выполнения этих операций с помощью
«магической» команды %%TIMEIT.

In [ ]:
import csv

In [ ]:
def csv_write(df):
    with open('out_file.csv', mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(df.columns)
        writer.writerows(df.values)
def csv_read(path):
    data = []
    with open(path, mode='r') as file:
        reader = csv.reader(file)
        header = next(reader)
        for row in reader:
            data.append(row)
    return data

In [ ]:
%%timeit
csv_write(df)

26.9 s ± 921 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
csv_read('out_file.csv')

15.1 s ± 3.99 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
csv_write(df)

In [ ]:
data = csv_read('out_file.csv')
max_salary = float('-inf')
sex_counter = Counter()
profession_counter = Counter()
row_count = len(data)

In [ ]:
%%timeit
total_age = 0
for row in data:
    age = int(row[1])
    total_age += age

average_age = total_age / row_count

2.64 s ± 686 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
max_salary = float('-inf')
for row in data:
    salary_value = int(row[2])
    if salary_value > max_salary:
        max_salary = salary_value

2.54 s ± 682 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
sex_counter = Counter()
for row in data:
    sex_counter[row[0]] += 1
most_common_sex = sex_counter.most_common(1)[0][0]

3.6 s ± 913 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
profession_counter = Counter()
for row in data:
    profession_counter[row[3]] += 1
least_common_profession = profession_counter.most_common()[-1][0]

3.57 s ± 848 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#8 Задание
Увеличьте число строк в датафрейме до 10 млн. строк, и выполните пункты 1-4, с
помощью циклов, базового контекста записи файлов WITH open(). Замерьте время
выполнения этих операций с помощью «магической» команды %%TIMEIT.

In [ ]:
%%timeit
with open('out_file.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['пол', 'возраст', 'доход', 'профессия'])
    for s, a, sy, p in zip(df['пол'].values, df['возраст'].values, df['доход'].values, df['профессия'].values):
        writer.writerow([s, a, sy, p])

17.8 s ± 1.31 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
data = []
with open('out_file.csv', 'r') as f:
    next(f)
    for line in f:
        data.append(line.strip().split(','))

12.5 s ± 852 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
data = []
with open('out_file.csv', 'r') as f:
    next(f)
    for line in f:
        data.append(line.strip().split(','))

sex_count = {}
profession_count = {}
sum_age = 0
max_income = float('-inf')

In [ ]:
%%timeit
sum_age = 0
for row in data:
    gender, age, income, profession = row
    age = int(age)

    sum_age += age

average_age = sum_age / len(data)

2.94 s ± 989 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
max_income = float('-inf')
for row in data:
    gender, age, income, profession = row
    income = int(income)
    if income > max_income:
        max_income = income

2.84 s ± 654 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
gender_count = {}
for row in data:
    gender, age, income, profession = row
    if gender in gender_count:
        gender_count[gender] += 1
    else:
        gender_count[gender] = 1

most_frequent_gender = max(gender_count, key=gender_count.get)

2.33 s ± 637 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
profession_count = {}
for row in data:
    gender, age, income, profession = row
    if profession in profession_count:
        profession_count[profession] += 1
    else:
        profession_count[profession] = 1

least_common_profession = min(profession_count, key=profession_count.get)

2.96 s ± 956 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#9 Задание
Заполните таблицу (можно создать в excel, и скопировать в текстовую ячейку ноутбука,
либо создать html код, с таблицей) значениями скоростей для каждого изученного
метода.


![image.png]()

Наилучшая последовательность действий это производить запись и чтение файла при помощи pandas, вычислять среднее, максимум, моду и редкость при помощи threading

# Задание 10
На основании таблицы выберите способ (или их комбинацию) для максимально
быстрой агрегации данных из датафрейма на диске, той же структуры, что и в п.1, но из
400 млн. строк. Здесь необходимо и сохранить, и считать и обработать этот датафрейм,
и замерить время выполнения этих операций.

In [ ]:
import pandas as pd
import numpy as np
import itertools
from collections import Counter
import threading as thr
import csv
import time

n = 400_000_000

def average_age(param, df):
    param["возраст"] = df["возраст"].mean()
def max_income(param, df):
    param["доход"] = df["доход"].max()
def most_frequent_gender(param, df):
    param["пол"] = df["пол"].value_counts().idxmax()
def least_common_profession(param, df):
    param["профессия"] = df["профессия"].value_counts().idxmin()

start_time = time.time()
decode_sex = pd.Series(data=np.array([1, 2], dtype=np.int8), index=['муж', 'жен'], name='sex_code')

decode_prof = pd.Series(data=np.array([1, 2, 3, 4], dtype=np.int8), index=['уборщик', 'кассир', 'дворник', 'няня'], name='prof_code')

df = pd.DataFrame({
    'пол': np.random.choice(decode_sex.to_numpy(), size=400000000),
    'возраст': np.array(np.random.normal(30, 5, size=400000000), dtype=np.int8),
    'доход': np.array(np.random.normal(20000, 1500, size=400000000), dtype=np.uint32),
    'профессия': np.random.choice(decode_prof.to_numpy(), size=400000000)
})

df.to_csv('BigBig.csv', index=False, chunksize=1000000)
df_new = pd.read_csv('BigBig.csv', dtype={'пол': np.int8, 'возраст': np.int8, 'доход': np.uint32, 'профессия': np.int8})


params = {
    'пол': 0,
    'возраст': 0,
    'доход': 0,
    'профессия': 0
}

th_average_age = thr.Thread(target=average_age, args=(params, df))
th_max_income = thr.Thread(target=max_income, args=(params, df))
th_most_frequent_gender = thr.Thread(target=most_frequent_gender, args=(params, df))
th_least_common_profession = thr.Thread(target=least_common_profession, args=(params, df))

th_average_age.start()
th_max_income.start()
th_most_frequent_gender.start()
th_least_common_profession.start()


print(f"average_age: {params['возраст']}, max_income: {params['доход']}, most_frequent_gender: {params['пол']}, least_common_profession: {params['профессия']}")
curr_time = time.time()
print("Время выполнения", curr_time - start_time)

average_age: 29.4998340075, max_income: 28599, most_frequent_gender: 2, least_common_professio: 0
Время выполнения 813.7826693058014

In [ ]:
print("Время выполнения", round(curr_time - start_time), "секунд или", int((curr_time - start_time) // 60), "минут", int((curr_time - start_time) - ((curr_time - start_time) // 60) * 60), "секунды")

Время выполнения 814 секунд или 13 минут 33 секунды